
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NjordDeploy Installer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- Privacy-Friendly Analytics (Umami) -->
    <script defer src="/stats/script.js" data-website-id="b74e61f0-0dbb-4d98-99ab-9dbc175b422f"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="app-header">
        <h1><strong>Pi</strong>Selfhosting Installer</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
