[Desktop Entry]
Version=1.0
Name=PiSelfhosting Configurator
Comment=Deploy and manage self-hosted services on your Raspberry Pi
Exec=PiSelfhosting-Configurator
Icon=piselfhosting-icon192x192
Terminal=false
Type=Application
Categories=Utility;
