[Desktop Entry]
Version=1.0
Name=NjordDeploy Configurator
Comment=Deploy and manage self-hosted services on your Raspberry Pi
Exec=NjordDeploy-Configurator
Icon=njorddeploy-icon192x192
Terminal=false
Type=Application
Categories=Utility;
